.cart-menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 80px;
	width: 80px;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: POINTER;
}
.cart-menu span {
	height: 2px;
	width: 50%;
	background-color: white;
	margin: 0.2rem 0;
	border-radius: 5%;
}
.cart-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 80px;
	min-height: 150px;
	width: 200px;
	background: red;
	transition: all 0.25s ease-in-out;
	display: flex;
}
.cart-content button {
	margin: auto auto 10px;
}
